html {
    scroll-behavior: smooth;
}

body {
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Lucida Console", monospace; */
    background-color: white;
    /* background-color: #F9F9F9; */
}
a {
    text-decoration: none;
    color: #2D68C4;
}
a:link, a:visited {
    text-decoration: none;
}
b {
    text-shadow: 0px .3px, .3px 0px, .3px 0px;
}

nav {
    width: 100%;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -20px;
}

nav ul {
    /* border: 1px solid blue; */
    list-style-type: none;
    font-weight: bold;
    color: #2D68C4;
    /* display: flex; */
}
nav p {
    font-weight: 300;
}
nav p:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 1000;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #2D68C4;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
nav a:visited {
    text-decoration: none;
}

#hero {
    display: block;
    border-radius: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}

span {
    font-weight: bold;
    text-shadow: 0px .3px, .3px 0px, .3px 0px;
}
.blue {
    color: #2D68C4;
}
#green {
    color: #18b310;
}
#red {
    color: #d41002;
}


#title {
    color: #2D68C4;
    display: block;
    /* font-family: 'Lucida Console', monospace; */
    font-size: 36px;
    font-weight: 1000;
}
h2 {
    /* text-align: center; */
    font-size: 24px;
}
#content {
    margin-left: 10%;
    margin-right: 10%;
}

#socials {
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    width: 180px; 
    /* border: 1px solid black; */
}
.fa {
    padding: 10px 10px;
    width: 30px;

    border-radius: 5px;
    border: 1px solid dodgerblue;
    text-align: center;
    text-decoration: none;
    color: black;
}
.fa:hover {
    opacity: 0.7;
}


#surprise {
    color: inherit;
    text-decoration: inherit;
}

#grid {
    display: grid;
    /* grid-template-rows: 1fr 5fr 1fr; */
    grid-template-columns: 1fr 2fr; 
}
.grid-span {
    grid-column-start: 1;
    grid-column-end: 3;
}
@media only screen and (max-width: 750px) {
    #grid {
        display: block;
        /* grid-template-columns: 1fr; */
    }
}

#info-card {
    text-align: left;
    /* border: 1px solid blue; */
}

/* #builds-div, #reads-div {
    display: none;
} */

#info-card-div {
    position: fixed;
    /* left: 20px;
    top: 20px; */
    padding: 0 auto; 
    width: 240px;
    /* border: 1px solid black; */
    padding: 0px 50px 20px 50px;
    /* border-radius: 15px; */
}

#right-div {
    margin-left: 5%;
}
#right-div p {
    font-size: 15px;
}